@using System.Web.Optimization
@using BootstrapSupport
@using NavigationRoutes
@model MySite.Models.MenuList

<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <title>@ViewBag.Title - ASP.NET on OpenShift</title>
        <link href="/favicon.ico" rel="shortcut icon" type="image/x-icon" />
        <meta name="viewport" content="width=device-width , initial-scale=1.0" />
        <link href="@Styles.Url("~/Content/css")" rel="stylesheet"/>
    </head>
    <body>
		<div id="wrap">
			<div class="navbar navbar-default navbar-fixed-top navbar-inverse">
				<div class="container">
					<div class="navbar-header">
						<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
							<span class="icon-bar"></span>
							<span class="icon-bar"></span>
							<span class="icon-bar"></span>
						</button>
						<a class="navbar-brand" href="#">OpenShift + Mono</a>
					</div>
					<div class="collapse navbar-collapse">
						<ul class="nav navbar-nav">
							@foreach (var m in Model.menuList) {
								<li class=@m.Class>@Html.ActionLink(m.Name, m.Action, m.Controller)</li>                  
							}
						</ul>
					</div>
				</div>
			</div>
			<div class="container">
				<div class="page-header">
					@RenderSection("featured", required: false)
				</div>
				@RenderBody()
			</div>
		</div> <!-- /Wrap -->

      <div id="footer">
        <div class="container">
          <p class="text-muted credit">&copy; @DateTime.Now.Year - The person editing this file. (Help, I am locked in a basement and they have not fed me in weeks)</p>
        </div>
      </div>

        @Scripts.Render("~/js")
        @RenderSection("Scripts", required: false)
    </body>
</html>
