<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <title>@ViewBag.Title - ASP.NET on OpenShift</title>
        <link href="/favicon.ico" rel="shortcut icon" type="image/x-icon" />
        <meta name="viewport" content="width=device-width" />
        <link href="/Content/Site.css" rel="stylesheet" />
    </head>
    <body>
        <header>
            <div class="content-wrapper">
                <div class="float-left">
                    <p class="site-title">@Html.ActionLink("OpenShift + Mono", "Index", "Home")</p>
                </div>
                <div class="float-right">
                    <nav>
                        <ul id="menu">
                            <li>@Html.ActionLink("Home", "Index", "Home")</li>
                            <li>@Html.ActionLink("Getting Started", "GettingStarted", "Home")</li>
                            <li>@Html.ActionLink("OpenShift Community", "Community", "Home")</li>
                        </ul>
                    </nav>
                </div>
            </div>
        </header>
        <div id="body">
            @RenderSection("featured", required: false)
            <section class="content-wrapper main-content clear-fix">
                @RenderBody()
            </section>
        </div>
        <footer>
            <div class="content-wrapper">
                <div class="float-left">
                    <p>&copy; @DateTime.Now.Year - The person editing this file. (Help, I am locked in a basement and they have not fed me in weeks)</p>
                </div>
            </div>
        </footer>

        @Scripts.Render("~/bundles/jquery")
        <script src="/Scripts/modernizr-2.6.2.js"> </script>
        <script src="/Scripts/jquery-1.8.2.js" ></script>
        <script src="/Scripts/jquery-ui-1.8.24.js"></script>
        <script src="/Scripts/jquery.validate.unobtrusive.min.js"></script>
        <script src="/Scripts/jquery.validate.min.js"></script>
        <link type="text/css" href="/Content/themes/base/jquery.ui.core.css" rel="stylesheet" />
        <link type="text/css" href="/Content/themes/base/jquery.ui.resizable.css" rel="stylesheet" />
        <link type="text/css" href="/Content/themes/base/jquery.ui.selectable.css" rel="stylesheet" />
        <link type="text/css" href="/Content/themes/base/jquery.ui.accordion.css" rel="stylesheet" />
        <link type="text/css" href="//Content/themes/base/jquery.ui.autocomplete.css" rel="stylesheet" />
        <link type="text/css" href="/Content/themes/base/jquery.ui.button.css" rel="stylesheet" />
        <link type="text/css" href="/Content/themes/base/jquery.ui.dialog.css" rel="stylesheet" />
        <link type="text/css" href="/Content/themes/base/jquery.ui.slider.css" rel="stylesheet" />
        <link type="text/css" href="/Content/themes/base/jquery.ui.tabs.css" rel="stylesheet"  />
        <link type="text/css" href="/Content/themes/base/jquery.ui.datepicker.css" rel="stylesheet" />
        <link type="text/css" href="/Content/themes/base/jquery.ui.progressbar.css" rel="stylesheet" />
        <link type="text/css" href="/Content/themes/base/jquery.ui.theme.css" rel="stylesheet" />
    </body>
</html>
